/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-size: cover;*/
}

.heroTitleContainer {
    position: absolute;
    top: 100px;
    left: 50px;
    padding: 0 12px;
}

.heroLogo {
    max-width: 420px;
    width: 100%;
    height: auto;
}

.heroTitle {
    color: #ffffff;
    margin-top: 36px;
    font-weight: lighter;
    font-size: var(--ifm-font-size-48);
    text-transform: uppercase;
    border-left: 4px solid var(--ivertix-secondary-color);
}

@media screen and (min-width: 2561px) {
    .heroBanner {
        background-image: url("/img/landing/header4k.jpg");
        background-size: cover;
        min-height: 560px;
    }
}

@media screen and (min-width: 1921px) {
    .heroBanner {
        background-image: url("/img/landing/header4k.jpg");
        min-height: 560px;
    }
}

@media screen and (max-width: 1920px) {
    .heroBanner {
        background-image: url("/img/landing/header.png");
        min-height: 420px;
    }
}

@media screen and (max-width: 996px) {
    .heroTitleContainer {
        margin: 0 auto;
        position: relative;
        top: auto;
        left: auto;
    }

    .heroTitle {
        margin-top: 48px;
        font-size: 4rem;
        line-height: 4rem;
        border-left: none;
    }
}

@media screen and (max-width: 580px) {
    .heroTitle {
        margin-top: 36px;
        font-size: 10vw;
        line-height: 10vw;
    }

    .heroLogo {
        max-width: 300px;
    }
}