.sidebarHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 12px 0 20px;
}

.mobileTitle {
    padding: 0 12px 8px 12px;
    color: var(--ifm-navbar-color);
}

.title {
    display: flex;
    align-items: center;
}

.title span {
    display: inline-block;
    margin-left: 8px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title img {
    display: inline-block;
    vertical-align: middle;
    max-height: 24px;
    max-width: 24px;
}

.mobileDivider {
    display: block;
    width: 100%;
    height: 0;
    border-bottom: 1px solid var(--ifm-menu-color);
    margin: 8px 0;
}

.version a {
    white-space: nowrap;
}