:root {
    --news-width: 500px;
    --news-height: 650px;
    --news-gradient-from: rgba(0, 0, 0, 0.0);
    --news-gradient-to: rgba(0, 0, 0, 0.7);
}

[data-theme='dark'] {
    --news-gradient-from: rgba(0, 0, 0, 0.0);
    --news-gradient-to: rgba(0, 0, 0, 1);
}

.carouselContainer {
    background-color: var(--ivertix-primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 48px;
}

.slider {
    max-width: var(--news-width);
    width: var(--news-width);
    position: relative;
    height: var(--news-height);
    transition: height .1s cubic-bezier(.17, .67, .83, .67);
}

.bullets {
    display: flex;
    flex-direction: row;
    margin: 50px 0 0 0;
}

.bullets .bullet {
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    height: 0.75rem;
    width: 0.75rem;
    margin: 0 5px;
    opacity: .2;
    transform: scale(.75);
    transition: transform .1s cubic-bezier(.17, .67, .83, .67), opacity .1s cubic-bezier(.17, .67, .83, .67);
}

.bullets .bullet.bulletActive {
    background-color: #fff;
    opacity: 1;
    transform: scale(1);
}

.newsItemContainer {
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
    transition: transform .1s cubic-bezier(.17, .67, .83, .67), opacity .1s cubic-bezier(.17, .67, .83, .67), z-index .1s cubic-bezier(.17, .67, .83, .67);
    box-sizing: border-box;
}

.newsItem {
    display: flex;
    flex-direction: column;
    background-color: var(--ivertix-news-background-color);
    max-width: var(--news-width);
    height: var(--news-height);
    border: 2px solid var(--ifm-color-surface);
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .1);
    /*padding: 2rem;*/
    pointer-events: none;
    position: relative;
    user-select: none;
}

.newsItem.newsItemActive {
    pointer-events: all;
    user-select: auto;
    border: 2px solid var(--ifm-color-primary-darker);
}

.newsItem .newsItemInactive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.newsItemInactive.left {
    background-image: linear-gradient(to right, var(--news-gradient-from) 0%, var(--news-gradient-to) 60%);
}

.newsItemInactive.right {
    background-image: linear-gradient(to left, var(--news-gradient-from) 0%, var(--news-gradient-to) 60%);
}

.newsItem .newsImage {
    height: auto;
    max-width: var(--news-width);
    display: block;
    user-select: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.newsItem .newsContentContainer {
    display: flex;
    flex-direction: column;
    padding: 32px;
    flex-grow: 1;
    overflow-y: auto;
}

.newsItem .newsTitle {
    color: var(--ivertix-primary-color);
    font-size: 2rem;
    text-align: center;
}

.newsItem .newsContent {
    flex-grow: 1;
}

.newsItem .newsActions {
    display: flex;
    justify-content: center;
}

.newsItem .newsButton {
    display: inline-flex;
    border: 1px solid var(--ivertix-primary-color);
    border-radius: 4px;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px 16px;
    font-size: 1rem;
    color: var(--ivertix-primary-color);
    user-select: none;
    transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out;
}

.newsItem .newsButton:hover {
    background-color: var(--ifm-color-primary);
    border-color: var(--ifm-color-primary);
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    :root {
        --news-width: 100%;
    }

    .carouselContainer {
        padding-left: 0;
        padding-right: 0;
    }

    .bullets .bullet {
        height: 1.75rem;
        width: 1.75rem;
    }
}
