.productShowcase {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.product {
    position: relative;
    padding: 16px;
}

.product:hover {
    text-decoration: none;
}

.productImg {
    max-height: 280px;
    max-width: 280px;
}

.productLabel {
    font-weight: bold;
    font-size: 3rem;
    /*max-width: 300px;*/
    margin: 0 auto;
}

.productLabel:hover {
    text-decoration: none;
}

.link {
    color: inherit;
    display: inline-block;
}

.link:hover {
    text-decoration: none;
    color: inherit;
    opacity: 80%;
}
