RewriteEngine On

RewriteRule ^monitoring/i-vertix-maps/(.*)$ /monitoring/maps/$1 [L,R=301]
RewriteRule ^monitoring/i-vertix-reporting/i-vertix-bi/(.*)$ /monitoring/reporting/business-intelligence/$1 [L,R=301]

RewriteRule ^monitoring/i-vertix-reporting/dashboard-meraki/?$ /monitoring/reporting/dashboard-meraki [L,R=301]
RewriteRule ^monitoring/i-vertix-reporting/availability-reports/?$ /monitoring/reporting/availability-reports [L,R=301]

RewriteRule ^monitoring/i-vertix-ncb/prerequisites-works/?$ /monitoring/ncb/ncb-features [L,R=301]
RewriteRule ^monitoring/i-vertix-ncb/managing-ncb/?$ /monitoring/ncb/ncb-config [L,R=301]
RewriteRule ^monitoring/i-vertix-ncb/visualize-ncb/?$ /monitoring/ncb/ncb-view-backups [L,R=301]

Options -Indexes

ErrorDocument 404 /404.html
